:root {
    --BC-dark-blue: rgb(3, 3, 126);
    --BC-light-blue: rgb(3, 79, 126);
    --BC-blue: rgb(0, 0, 255);
    --BC-electric: rgb(247, 208, 44);
    --BC-white: rgb(255, 255, 255);
}

body {
    margin: 0;
    cursor: url('./assets/Favicon/pokeballMin.png') 16 16, auto;
}

.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--BC-electric);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px var(--BC-electric), 0 0 20px var(--BC-blue);
    animation: fadeOut 0.5s linear forwards;
    transition: transform 0.08s linear;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BC-dark-blue);
    color: var(--BC-electric);
    height: 120px;
    position: relative;
    background: linear-gradient(to bottom, rgb(135, 10, 180), var(--BC-dark-blue));
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    height: clamp(60px, 10vh, 120px);
}

.footer {
    background: linear-gradient(to top, rgb(135, 10, 180), var(--BC-dark-blue));
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.7);
}

.pokedexTitleHeaderFooter {
    font-family: 'PokemonFont';
    font-size: clamp(3rem, 6vw, 5rem);
    margin: 0;
    color: var(--BC-electric);
    font-weight: 800;
    text-shadow: -3px -3px 0 var(--BC-blue),
        3px -3px 0 var(--BC-blue),
        -3px 3px 0 var(--BC-blue),
        3px 3px 0 var(--BC-blue),
        0px 5px 10px rgba(0, 0, 0, 0.9);
}

.pokedexTitleHeaderFooter:hover {
    color: var(--BC-electric);
    text-shadow: 0px 0px 10px var(--BC-electric), 0px 0px 20px var(--BC-blue);
}

.header:hover,
.footer:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 1),
        0px -20px 40px rgba(0, 0, 0, 1);
    transform: scale(1.03);
}

/* Main-Bereich */

.main {
    text-shadow: 0px 0px 10px var(--BC-dark-blue), 0px 0px 20px var(--BC-blue);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(217deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0) 70.71%);
}

.pokemonList {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    padding: 15px;
    gap: 15px;
    flex-wrap: wrap;
}

.cardsInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.pokemonCard {
    position: relative;
    width: clamp(300px, 10vw, 350px);
    height: clamp(300px, 10vh, 350px);
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    perspective: 1000px;
}

.pokemonCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
}

.pokemonCard:hover .pokemonImg {
    transform: scale(1.2);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.pokemonImg {
    object-fit: contain;
    width: clamp(120px, 20vw, 180px);
    max-height: 180px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.pokemonGif {
    object-fit: contain;
    width: clamp(50px, 20vw, 80px);
    max-height: 80px;
}

.pokemonImg:hover {
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.pokemonCardHeader h2 {
    font-family: 'PokemonFont', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--BC-white);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
    margin: 15px 0;
    text-align: center;
}

/* Karten umdrehen (oben angepasst) */
.cardInner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.pokemonCard.flipped .cardInner {
    transform: rotateY(180deg);
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.cardBack {
    font-family: 'PokemonFont', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--BC-white);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
    margin: 15px 0;
    text-align: center;

    transform: rotateY(180deg);
}

.cardBack h2 {
    margin: 10px 0;
}

.pokemonCard:hover .cardsInside {
    transform: rotateY(180deg);
}

/* Button Check */

.btnCheckAbilities {
    position: relative;
    padding: 15px 20%;
    margin-top: 15px;
    border: none;
    outline: none;
    color: var(--BC-white);
    font-size: 25px;
    font-family: 'Pokemon Solid';
    cursor: pointer;
    position: relative;
    z-index: 2 important;
    border-radius: 50px;
    padding: 15px;
}

.loadMoreBtn {
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(217deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.5), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0) 70.71%);
    margin: 4%;
    padding: 30px 60px;
    border-radius: 50px;
}

.btnCheckAbilities:hover {
    color: var(--BC-electric);
    text-shadow: 0px 0px 10px var(--BC-electric), 0px 0px 20px var(--BC-blue);
}

.btnCheckAbilities::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    background-color: transparent !important;
}

.btnCheckAbilities::before {
    content: "";
    background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 18px;
    opacity: 1;

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* Overlay */
.overlay {
    position: fixed;
    /*nachschauen!!*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.375);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.d_none {
    display: none;
}

.overlayCard {
    color: var(--BC-electric);
    text-shadow: 0px 0px 10px var(--BC-electric), 0px 0px 20px var(--BC-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    max-height: 800px;
    width: 85%;
    height: 80%;
    border-radius: 15px;
    z-index: 3;
}

.overlayCard h1 {
    font-family: 'PokemonFont';
    font-size: clamp(2rem, 6vw, 3rem);
    margin: 0;
}

.overlayFooter {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.overlayFooter button {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

.overlayMain {
    flex: 1;
}

#previous {
    background-image: url(./assets/img/pokeball_ButtonBack.png);
}

#next {
    background-image: url(./assets/img/pokeball_ButtonNext.png);
}

.pokemonImgOverlayCard {
    width: 40%;
    margin-top: -25%;
}

.typeImg {
    width: 15%;
    margin: 0 10px;
}

@keyframes rotation {
    0% {
        rotate: var(--axis) 0;
    }

    100% {
        rotate: var(--axis) 360deg;
    }
}

.loadingOverlayImg {
    --axis: z;
    width: 25rem;
    max-width: 60%;
    animation: rotation 2s linear infinite;
}